<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https: //fonts.googleapis.com/css2? family= Rajdhani & display=swap" rel="stylesheet">
    <title>Projeto - Figma</title>
  </head>
  <body>

    <aside>
      <div class="container-img">
        <img src="./imagem-do-perfil-do-homem-34444437.jpg"  alt="" />
      </div>
      <div >
        <h1>
          Vinicius <br />
          Kauan
        </h1>
      </div>
      <div class="creditos" >
        <div>
          <h3>Créditos</h3>
          <a href=""><img src="" width="1px" alt="" /> </a>
        </div>
        <div class="total">
          <p>Total</p>
          <p>R$0,00</p>
        </div>
      </div>
   
      <div class="notificacoes">
        <div>
        <h3>Notificações</h3>
          <a href="">EDITAR</a>
        </div>
        <div>
          <p>Newsletter</p>
          <div>
            <label for="">Ativado</label>
            <input type="checkbox" />
          </div>
        </div>
        <div>
          <p>Perguntas e Respostas</p>
          <div>
            <label for="">Ativado</label>
            <input type="checkbox" />
          </div>
        </div>
      </div>
      <nav class="navegacao" href="/">                  
        <ul>
            <li>
              <a href="http://"><p>Meu cadastro</p></a>
            </li>
            <li>
              <a href="http://"><p>avaliações</p></a>
            </li>
            <li>
              <a href="http://"> <p>avaliações</p> </a>
            </li>
            <li>
              <a href="http://"> <p>Protocolos</p></a>
            </li>
            <li>
              <a href="http://"> <p>Sorteios</p> </a>
            </li>
            <li>
              <a href="http://"><p>Arrependimento</p> </a>
            </li>
            <li>
              <a href="http://"> <p>Garantia</p> </a>
            </li>
        </ul>
    </nav>
      <section class="atendimento">
        <h2>Atendimento ao Cliente</h2>
        <h5>Central Sac:(99)999999-999999</h5>
        <h5>e-mail:aaaaaa@dddddddd.com</h5>
        
        <a href="">Atendimento via chat</a>
      </section>

   
    </aside>

       <main>

       

            <section>
              <div class="Texto" >
                <h2>Minha Conta</h2>
                <p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most popular web browser today!</p>
                <h4>Se houver dúvida , entre em contato com noss central de atendimento</h4>
              </div>
              
              
              
              <div class="Tabela" >
                
                
                <header  >
                  
                  <nav>
                    <h3>Todos os Pedidos</h3>
                   <select name="" id="">
                     <option value=""selected>Data</option>
                     <option value="">BBBBB</option>
                     <option value="">CCCCCC</option>
                     <option value="">DDDDDD</option>
                     <option value="">EEEEEE</option>
                    <option value="">FFFFF</option>
                    
                  </select>
                </nav>
                               

                  <div class="tabela-cabeca">
                    <h2>Numero de pedidos</h2>
               
                    <h2>data</h2>
              
                    <h2>Pagamento</h2>
              
                    <h2>Posição</h2>
               
                    <h2>NF-e</h2>
                 </div>
                </header>
             <div class="tabela-corpo" >

               <div class="pedidos" >
                 <h4>Numero do pedido</h4>
                 <h4>data</h4>
                 <h4>pagamento</h4>
                 <h4>Posição</h4>
                 <h4>NF-e</h4>
               </div>
               <div class="pedidos" >
                 <h4>Numero do pedido</h4>
                 <h4>data</h4>
                 <h4>pagamento</h4>
                 <h4>Posição</h4>
                 <h4>NF-e</h4>
               </div>
               <div class="pedidos" >
                 <h4>Numero do pedido</h4>
                 <h4>data</h4>
                 <h4>pagamento</h4>
                 <h4>Posição</h4>
                 <h4>NF-e</h4>
               </div>
               <div class="pedidos" >
                 <h4>Numero do pedido</h4>
                 <h4>data</h4>
                 <h4>pagamento</h4>
                 <h4>Posição</h4>
                 <h4>NF-e</h4>
               </div>

             </div>


              </section>
  
                      <section>
                        <div class="Tabela" >
                          <h3>Favoritos</h3>
                          <p>Aqui voce encontra produtos de seu interesse</p>
                          <header>
                            <h3>Favoritos</h3>
                           <select name="" id="">
                            <option value=""selected>Data</option>
                            <option value="">BBBBB</option>
                            <option value="">CCCCCC</option>
                            <option value="">DDDDDD</option>
                            <option value="">EEEEEE</option>
                            <option value="">FFFFF</option>
                          
                          </select>
                          </header>
                          
                        </div>
                      </section>

       </main>

 
  </body>
</html>
