@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&display=swap');

:root {
  --primary-color: rgb(56, 186, 174);
  --primary-opacity: rgba(56, 186, 174, 0.2);
  --secondary-color: rgb(246, 205, 146);
  --secondary-opacity: rgba(246, 205, 146, 0.2);
  --light-color: #fefaee;
  --text-color: #C4B691;
  --stronger-yellow: #ffb236;
  --dark-color: #081c15;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.card-section {
  background-color: var(--primary-opacity);
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
}

.card-section a {
  text-decoration: none;
}

.card-section::before {
  background-color: var(--secondary-opacity);
  clip-path: inset(47% 0 0 0);
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.card-container {
  margin: 0 auto;
  max-width: 1280px;
  overflow-x: hidden;
  padding: 3rem 0 2rem;
  width: 100%;
}

.card-container input[type="radio"] {
  display: none;
}

.card-container > .main-card {
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  transition: all 1s ease;
}

#card-two:checked ~ .main-card {
  margin-left: -100%;
}

.main-card .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 1rem;
  width: calc(100% / 2 - 1rem);
}

.main-card .cards .card {
  background-color: var(--primary-opacity);
  border: 2px solid var(--primary-opacity);
  border-radius: 24px;
  margin: 1rem 0;
  padding: 1.25rem;
  width: 100%;
  transition: all 400ms ease;
}

.main-card .cards .card:hover {
  transform: translateY(-1rem);
}

.cards .card .content {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cards .card .content .card-img {
  padding: 3px;
  margin-bottom: 1rem;
  max-height: 180px;
  max-width: 180px;
  width: 95%;
}

.card .content .card-img img {
  border: 3px solid var(--primary-color);
  border-radius: 25%;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card .content .card-details .card-product-name {
  color: var(--dark-color);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.card .content .card-details .card-product-section,
.card .content .card-details .card-product-price {
  background: transparent;
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.card .content .card-details .card-product-price {
  border-radius: 4px;
  color: var(--dark-color);
  line-height: 1.5rem;
  margin: 0 4px;
  height: 1.5rem;
  width: 100%;
}

.card-button {
  display: flex;
  margin: 1rem;
  justify-content: center;
}

.card-button label {
  background-color: var(--primary-color);
  border-radius: 1.5rem;
  margin: 0 4px;
  height: 1rem;
  width: 1rem;
  transition: all 400ms ease;
}

.card-button label.card-btn-active {
  width: 2.5rem;
}
#card-one:checked ~ .card-button > .card-btn1,
#card-two:checked ~ .card-button > .card-btn2 {
  width: 2.5rem;
}
#card-two:checked ~ .card-button > .card-btn1 {
  width: 1rem;
}
#card-one:checked ~ .card-button > .card-btn2 {
  width: 1rem;
}

@media screen and (min-width: 600px) {
  .main-card .cards .card {
    margin: 1rem 0 0.5rem;
    width: calc(100% / 2 - 1rem)
  }
}

@media screen and (min-width: 769px) {
  .main-card .cards .card {
    width: calc(100% / 3 - 1rem);
  }
}