<%- include('partials/header') %> 
  <main>
    <section class="destaques">
      <h1>Destaques da Semana</h1>
      <div class="carousel-container">
        <div class="carousel">
          <div class="carousel-slider">
            <a href="#"><img class="carousel-img" src="images/destaque_a.jpg" alt="Carousel image"></a>
            <a href="#"><img class="carousel-img" src="images/destaque_b.jpg" alt="Carousel image"></a>
            <a href="#"><img class="carousel-img" src="images/destaque_c.jpg" alt="Carousel image"></a>
            <a href="#"><img class="carousel-img" src="images/destaque_d.jpg" alt="Carousel image"></a>
            <a href="#"><img class="carousel-img" src="images/destaque_e.jpg" alt="Carousel image"></a>
          </div>
        </div>
        <ul class="carousel-btn-container"></ul>
      </div>
    </section>

    <section class="ofertas">
      <h2>Ofertas do dia</h2>
      <div class="slide-container swiper">
        <div class="slide-content">
          <div class="card-wrapper swiper-wrapper">

            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay"></span>
                <a href="#" class="card-image-link">
                  <img src="images/oferta1.webp" alt="Card image" class="card-image" />
                </a>
              </div>
              <a href="#" class="card-content">
                <h3 class="card-product-name">Coleira para cães</h3>
                <p class="card-product-section">Acessórios</p>
                <p class="card-product-price">R$ xxx,xx</p>
              </a>
            </div>
            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay"></span>
                <a href="#" class="card-image-link">
                  <img src="images/oferta2.webp" alt="Card image" class="card-image" />
                </a>
              </div>
              <a href="#" class="card-content">
                <h3 class="card-product-name">Macaco de Pelúcia</h3>
                <p class="card-product-section">Brinquedos</p>
                <p class="card-product-price">R$ xxx,xx</p>
              </a>
            </div>
            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay"></span>
                <a href="#" class="card-image-link">
                  <img src="images/oferta3.webp" alt="Card image" class="card-image" />
                </a>
              </div>
              <a href="#" class="card-content">
                <h3 class="card-product-name">Moletom com Capuz</h3>
                <p class="card-product-section">Roupas</p>
                <p class="card-product-price">R$ xxx,xx</p>
              </a>
            </div>
            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay"></span>
                <a href="#" class="card-image-link">
                  <img src="images/oferta4.webp" alt="Card image" class="card-image" />
                </a>
              </div>
              <a href="#" class="card-content">
                <h3 class="card-product-name">Cama Clássica</h3>
                <p class="card-product-section">Cama, Mesa, Banh</p>
                <p class="card-product-price">R$ xxx,xx</p>
              </a>
            </div>
            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay"></span>
                <a href="#" class="card-image-link">
                  <img src="images/oferta5.webp" alt="Card image" class="card-image" />
                </a>
              </div>
              <a href="#" class="card-content">
                <h3 class="card-product-name">Bolsa para Transporte</h3>
                <p class="card-product-section">Acessórios</p>
                <p class="card-product-price">R$ xxx,xx</p>
              </a>
            </div>
            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay"></span>
                <a href="#" class="card-image-link">
                  <img src="images/oferta6.webp" alt="Card image" class="card-image" />
                </a>
              </div>
              <a href="#" class="card-content">
                <h3 class="card-product-name">Hidratante para Coxins</h3>
                <p class="card-product-section">Cosméticos</p>
                <p class="card-product-price">R$ xxx,xx</p>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
      </div>
    </section>
    
    <section class="categorias">
      <h2>Seções</h2>
      <div class="categorias-container">

        <div class="categorias-group">
          <a href="#">
            <img class="icon-categorias" src="images/cat-adocao.png" alt="Categoria Adoção" />
            <p>Adoção</p>
          </a>
    
          <a href="#">
            <img class="icon-categorias" src="images/cat-mais-comprados.png" alt="Categoria mais comprados" />
            <p>Mais Comprados</p>
          </a>
        </div>

        <div class="categorias-group">
          <a href="#">
            <img class="icon-categorias" src="images/cat-novidades.png" alt="Categoria Novidades" />
            <p>Novidades</p>
          </a>
    
          <a href="#">
            <img class="icon-categorias" src="images/cat-recomendados.png" alt="Categoria Recomendados" />
            <p>Recomendados</p>
          </a>
        </div>

        <div class="categorias-group">
          <a href="#">
            <img class="icon-categorias" src="images/cat-brinquedos.png" alt="Categoria Brinquedos" />
            <p>Brinquedos</p>
          </a>
    
          <a href="#">
            <img class="icon-categorias" src="images/cat-roupas.png" alt="Categoria Roupas" />
            <p>Roupas</p>
          </a>
        </div>

        <div class="categorias-group">
          <a href="#">
            <img class="icon-categorias" src="images/cat-cosmeticos.png" alt="Categoria Cosméticos" />
            <p>Cosméticos</p>
          </a>
    
          <a href="#">
            <img class="icon-categorias" src="images/cat-alimentacao.png" alt="Categoria Alimentação" />
            <p>Alimentação</p>
          </a>
        </div>

      </div>
    </section>

  </main>
<%- include('partials/footer') %> 