<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Carousel</title>
</head>
<body>
  
  <main>

  <div class="carousel-container">
    <section class="carousel">
      <div class="carousel-slides">
        <!-- Radio Buttons -->
        <input type="radio" name="slides-btn" id="radio1">
        <input type="radio" name="slides-btn" id="radio2">
        <input type="radio" name="slides-btn" id="radio3">
        <input type="radio" name="slides-btn" id="radio4">
        <!-- Slide Images -->
        <div class="slide-imgs first-img">
          <img src="./img-carousel/pet-image1.jpeg" alt="Imagem provisória de cachorro">
        </div>
        <div class="slide-imgs">
          <img src="./img-carousel/pet-image2.jpeg" alt="Imagem provisória cão e gato">
        </div>
        <div class="slide-imgs">
          <img src="./img-carousel/pet-image3.jpeg" alt="Imagem provisória cachorro de coleira">
        </div>
        <div class="slide-imgs">
          <img src="./img-carousel/pet-image4.jpeg" alt="Imagem provisória de gato">
        </div>
        <!-- Carousel Navigation -->
        <div class="carousel-navigation">
          <label for="radio1" class="carousel-btn btn1"></label>
          <label for="radio2" class="carousel-btn btn2"></label>
          <label for="radio3" class="carousel-btn btn3"></label>
          <label for="radio4" class="carousel-btn btn4"></label>
        </div>
      </div>
    </section>
  </div>

  </main>

  <script src="./index.js"></script>
</body>
</html>
